

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/SegoeUI.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/SegoeUI.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* pavanam-regular - latin */
@font-face {
  font-family: 'Pavanam';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pavanam-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pavanam-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pavanam-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pavanam-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pavanam-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pavanam-v11-latin-regular.svg#Pavanam') format('svg'); /* Legacy iOS */
}

/* paytone-one-regular - latin */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/paytone-one-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/paytone-one-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/paytone-one-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/paytone-one-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/paytone-one-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/paytone-one-v18-latin-regular.svg#PaytoneOne') format('svg'); /* Legacy iOS */
}


*{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
body{
  margin: 0px;
}
.container{
  width: 1260px;
  padding: 0px 30px;
  margin: 0px auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


header{
background-image: url(../img/Rectangle\ 1.png);
background-repeat: no-repeat;
background-size: cover;
}


.header{

  padding-top: 20px;
  padding-bottom: 575px;
  display: flex;
  align-items: center;
}

.nav{
  padding-left: 70px;
}

.header-element{
  width: 379px;
  padding-left: 0;
  list-style: none;
  display: flex;
align-items: center;
justify-content: space-between;
}

.header-item{
}

.headr-link{
  text-decoration: none;
  font-family: 'Paytone One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #ffffff;
}


main{
  opacity: 0.9;
  position: relative;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size:cover;
}

.section1{
  width: 900px;
  left:50%;
  transform: translate(-50%);
  position: relative;
  z-index: 2;
  top: -528px;
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}


.hero{
padding-left: 65px;
}

.hero-title{
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.title-span{
display: block;
  font-size: 20px;
  color: #FFFFFF;

}




.hero-lorem{
/* Segui / 18 */

font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 149.8%;
/* or 27px */


color: #FFFFFF;

}

.form{
  display: flex;
  align-items: center;
}
.input{
  background-color: rgba(255, 255, 255, 0);
  width: 290px;
  padding: 9px 10px 9px 30px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
    font-family: 'Pavanam';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
}


.input::placeholder{
  font-family: 'Pavanam';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: rgba(255, 255, 255, 0.4);
}

.button{
  cursor: pointer;
  width: 123px;
  padding: 9px 0px 9px 0px;
  margin-left: 20px;
  background-color: rgba(245, 241, 241, 0);
  border: 2px solid #FF1640;
  border-radius: 50px;  
  font-family: 'Pavanam';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.4);
}

.button:active{
}
.hero-line{
  position:absolute ;
  top: 460px;
  right: 1px;
  width: 897px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);

}

.hero-element-2{
  padding-top: 20px;
  justify-content: space-between;
  width: 800px;
padding-left: 0;
list-style: none;
display: flex;
align-items: center;
}

.hero-item-2{

}


.title-div{
  margin-bottom: 80px;
  width: 430px;
}

.inner-element{
  position: relative;
  align-items: center;
  margin-top: 80px;
  display: flex;
list-style: none;
padding-left: 0;
}

.inner-item{


}

.inner-item:nth-child(1){
  position: relative;
  top: 71px;
  left: 45px;

}

.inner-item:nth-child(3){
  position: relative;
  left:30%;
  top: 71px;
}

.inner-item:nth-child(2n){
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.intro{
  padding-bottom: 100px;
  padding-top: 60px;
  margin-top: 60px;

}

.intro-tittle{
  margin: 0 auto;
  width: 572px;
display: flex;
align-items: center;

}

.intro-title{
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.button-1 {
  margin-left: 7px;
  border: none;
  padding: 4px 5px 4px 16px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 149.8%;
/* or 21px */
background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
border-radius: 20px;
color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 142px;
}

.intro2{
padding-left: 0;
list-style: none;
}

.intro-item2{
}

.sub-ul{
  justify-content: space-between;
  display: flex;
list-style: none;
}

.sub-item{
width: 315px;
}

.subb-ll{
  
  justify-content: space-between;
  width: 454px;
  display: flex;
padding-left: 0;
list-style: none;
align-items: center;

}

.subbv-ul{
padding-left: 23px;
}

.sub-line{
display: flex;
align-items: center;
}

.sub-p{
  font-family: 'Segoe UI';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 149.8%;
/* identical to box height, or 27px */
color: #FFFFFF;
}

.sub-button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
background: url(.jpg), #C4C4C4;
border-radius: 50px;
  height: 35px;
  width: 131px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  /* identical to box height, or 24px */
  
  
  /* Dark Brown */
  
  color: #2D2828;
}

.subb-ul{
  background-image: url(../img/Rectangle\ 13.png) ;
align-items: flex-start;
justify-content: space-around;
  width: 453px;
list-style: none;
display: flex;
}

.divv{
  padding-top: 15px;

  align-items: center;
display: flex;
}

.divv::after{
  background-image: url(../img/vscode-icons_file-type-clojure.png);
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
  right: 105px;
  width: 21px;
  height: 21px;
  content: "";
}

.extra::after{
  background-image: url(../img/Group\ 3.png);
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
  right: 105px;
  width: 21px;
  height: 21px;
  content: "";

}

.divvv{
  padding-bottom: 23px;
  width: 251px;
}

.subbb-text{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
  margin: 0;
  
  color: #1f1c1c;  
}

.subb-text{
  margin: 0;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 149.8%;
/* identical to box height, or 27px */


color: rgba(45, 40, 40, 0.7);

}

.titlee{
  margin-bottom: 0  ;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 149.8%;
  /* identical to box height, or 33px */
  
  
  color: #2D2828;
}

.texxt{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  /* or 21px */
  
  
  /* Dark Brown */
  
  color: #2D2828;
}

.sub-item2{
    padding-right:  33px;
  margin-top: 45px;
  width: 314px;
}

.subbb-title{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  /* identical to box height, or 33px */
  
  
  color: #FFFFFF;
  
  opacity: 0.7;
}

.subb-texxt{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  /* or 21px */
  
  
  color: #FFFFFF;
  
  opacity: 0.7
}

.section-2{
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   -webkit-transform: translate(-50%);
   -moz-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
}


.price{
  padding-bottom: 110px;
width: 842px;
}

.price-element{
  justify-content: space-between;
  list-style: none;
padding-left:0 ;
display: flex;
align-items: center;
}

.price-element-2{
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
display: flex;
align-items: flex-start;
}

.price-item-2{
width: 270px;
}

.price-line{
display: flex;
align-items: center;
}

.price-text{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 149.8%;
  /* or 27px */
  
  
  color: #000000;
  
}

footer{
  background-color: #000000;
  background-repeat: no-repeat;
  background-size:100% 800px ;
  background-position: 100%;
  background-image: url(../img/hh.png);
}

.footer{
padding-top: 60px;
padding-bottom: 200px;
}

.footer-2{
display: flex;
align-items: flex-start;
}

.footer-element{
  margin-top: 0;
  padding-left: 0;
list-style: none;
}

.footer-item{

}

.item-text{
  margin-top: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
  
  
  color: #FFFFFF;
}

.footer-links{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
  text-decoration: none;
  
  color: #FFFFFF;
  
}

.divf{
  margin-top: 10px;
margin-left:auto;
}

.imgs{
  justify-content: end;
  margin: 0;
  display: flex;
  padding-left: 0;
list-style: none;
}

.imgs-item{
  margin-left: 30px;
}

.texct{

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
  
  text-align: right;
  
  color: #FFFFFF;
}

.texct-2{

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  /* identical to box height, or 27px */
  
  text-align: right;
  
  color: #FFFFFF;
  
}



.dd{
  display: block;
  margin-top: 50px;
  margin-left:  auto;
  margin-right: auto;
}





















/* .demo-perent{
  display: grid;
  grid-template-columns: 50% 30% 20%;

}

.demo-1{
  height: 100px;
  background-color: #aaa;

}
  



.demo-2{
  height: 100px;
  background-color: #ccc;

}


.demo-3{
  height: 100px;
  background-color: #bbb;

}
 */

